In [133]:
import pandas as pd
import pymc3 as pm
import numpy as np
import theano
import theano.tensor as tt

In [134]:
data = pd.read_csv("HerrmannThoeniGaechterDATA.csv", skiprows=3)

In [135]:
len(data)

65880

In [136]:
## constants
groupSize = 4
ntrials = 10
pi = 1.4
ntokens = 20
vals = list(range(21)) #possible values to contribute - from 0 to 20 tokens

## Prelim checks

In [137]:
len(set(data["subjectid"])) #should be 1120

1120

In [138]:
len(set(data["groupid"]))

280

In [139]:
data.dtypes

sessionid               object
groupid                  int64
mgroupid                 int64
subjectid                int64
p                       object
secseq                   int64
city                    object
period                   int64
senderscontribution      int64
otherscontribution       int64
punishment             float64
recpun                 float64
civic                  float64
ruleoflaw              float64
female                   int64
age                    float64
numknown               float64
singlechild            float64
ageu21                   int64
urbanbackground        float64
middleclass            float64
membership             float64
dtype: object

In [140]:
def get_gini(city):
    if city == "Melbourne":
        return 34.3
    if city == "Minsk":
        return 25.3
    if city == "Chengdu":
        return 38.5
    if city == "Copenhagen":
        return 28.7
    if city == "Bonn":
        return 31.9
    if city == "Athens":
        return 34.4
    if city == "Seoul":
        return 31.6
    if city == "Samara":
        return 37.5
    if city == "Zurich":
        return 32.7
    if city == "St. Gallen":
        return 32.7
    if city == "Istanbul":
        return 41.9
    if city == "Nottingham":
        return 34.8
    if city == "Dnipropetrovs'k":
        return 26.1
    if city == "Boston":
        return 41.1
    
data["gini"] = data["city"].apply(lambda x: get_gini(x))

In [141]:
data = data[data["gini"].isna() == False]
#data = data.dropna()

In [142]:
len(data)

59880

In [143]:
data.reset_index(inplace = True, drop = True)

In [144]:
redDat = data.iloc[::3, :] #get only every third row, the others are other responses that we don't need

In [146]:
redDat.reset_index(inplace = True, drop = True)

In [149]:
group_names = set(redDat["groupid"])
group_names = sorted(list(group_names))
ngroups = len(group_names)

### DOES SOMETHING FUCKED HERE

subject_names = set(redDat["subjectid"])
nsubjects = len(subject_names)

In [122]:
c_no_punish = np.zeros(shape = (groupSize, ntrials, ngroups))

Ga_no_punish = np.zeros(shape = (ntrials, ngroups))

Gc_no_punish = np.zeros(shape = (groupSize, ntrials, ngroups))

missing = np.zeros(shape = (ngroups))

In [128]:
ngroups = 269
redDat[(redDat["groupid"] == group_names[12]) & (redDat["p"] == "N-experiment")]["senderscontribution"][0:10].values

array([], dtype=int64)

In [131]:
redDat[redDat["groupid"] == 501]

,sessionid,groupid,mgroupid,subjectid,p,secseq,city,period,senderscontribution,otherscontribution,...,ruleoflaw,female,age,numknown,singlechild,ageu21,urbanbackground,middleclass,membership,gini
21520,991105MH,501,501,501,P-experiment,0,Zurich,1,5,7,...,1.963328,1,24.0,0.0,NaN,0,0.0,NaN,NaN,32.7
21521,991105MH,501,501,502,P-experiment,0,Zurich,1,7,5,...,1.963328,1,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21522,991105MH,501,501,503,P-experiment,0,Zurich,1,20,5,...,1.963328,0,23.0,0.0,NaN,0,1.0,NaN,NaN,32.7
21523,991105MH,501,501,504,P-experiment,0,Zurich,1,10,5,...,1.963328,0,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21544,991105MH,501,501,501,P-experiment,0,Zurich,2,20,10,...,1.963328,1,24.0,0.0,NaN,0,0.0,NaN,NaN,32.7
21545,991105MH,501,501,502,P-experiment,0,Zurich,2,10,20,...,1.963328,1,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21546,991105MH,501,501,503,P-experiment,0,Zurich,2,20,20,...,1.963328,0,23.0,0.0,NaN,0,1.0,NaN,NaN,32.7
21547,991105MH,501,501,504,P-experiment,0,Zurich,2,20,20,...,1.963328,0,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21568,991105MH,501,501,501,P-experiment,0,Zurich,3,10,20,...,1.963328,1,24.0,0.0,NaN,0,0.0,NaN,NaN,32.7
21569,991105MH,501,501,502,P-experiment,0,Zurich,3,20,10,...,1.963328,1,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21570,991105MH,501,501,503,P-experiment,0,Zurich,3,20,10,...,1.963328,0,23.0,0.0,NaN,0,1.0,NaN,NaN,32.7
21571,991105MH,501,501,504,P-experiment,0,Zurich,3,20,10,...,1.963328,0,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21592,991105MH,501,501,501,P-experiment,0,Zurich,4,5,0,...,1.963328,1,24.0,0.0,NaN,0,0.0,NaN,NaN,32.7
21593,991105MH,501,501,502,P-experiment,0,Zurich,4,0,5,...,1.963328,1,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21594,991105MH,501,501,503,P-experiment,0,Zurich,4,20,5,...,1.963328,0,23.0,0.0,NaN,0,1.0,NaN,NaN,32.7
21595,991105MH,501,501,504,P-experiment,0,Zurich,4,10,5,...,1.963328,0,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21616,991105MH,501,501,501,P-experiment,0,Zurich,5,0,10,...,1.963328,1,24.0,0.0,NaN,0,0.0,NaN,NaN,32.7
21617,991105MH,501,501,502,P-experiment,0,Zurich,5,10,0,...,1.963328,1,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21618,991105MH,501,501,503,P-experiment,0,Zurich,5,10,0,...,1.963328,0,23.0,0.0,NaN,0,1.0,NaN,NaN,32.7
21619,991105MH,501,501,504,P-experiment,0,Zurich,5,0,0,...,1.963328,0,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21640,991105MH,501,501,501,P-experiment,0,Zurich,6,5,0,...,1.963328,1,24.0,0.0,NaN,0,0.0,NaN,NaN,32.7
21641,991105MH,501,501,502,P-experiment,0,Zurich,6,0,5,...,1.963328,1,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21642,991105MH,501,501,503,P-experiment,0,Zurich,6,10,5,...,1.963328,0,23.0,0.0,NaN,0,1.0,NaN,NaN,32.7
21643,991105MH,501,501,504,P-experiment,0,Zurich,6,10,5,...,1.963328,0,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21664,991105MH,501,501,501,P-experiment,0,Zurich,7,15,10,...,1.963328,1,24.0,0.0,NaN,0,0.0,NaN,NaN,32.7
21665,991105MH,501,501,502,P-experiment,0,Zurich,7,10,15,...,1.963328,1,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21666,991105MH,501,501,503,P-experiment,0,Zurich,7,10,15,...,1.963328,0,23.0,0.0,NaN,0,1.0,NaN,NaN,32.7
21667,991105MH,501,501,504,P-experiment,0,Zurich,7,9,15,...,1.963328,0,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21688,991105MH,501,501,501,P-experiment,0,Zurich,8,13,12,...,1.963328,1,24.0,0.0,NaN,0,0.0,NaN,NaN,32.7
21689,991105MH,501,501,502,P-experiment,0,Zurich,8,12,13,...,1.963328,1,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21690,991105MH,501,501,503,P-experiment,0,Zurich,8,15,13,...,1.963328,0,23.0,0.0,NaN,0,1.0,NaN,NaN,32.7
21691,991105MH,501,501,504,P-experiment,0,Zurich,8,15,13,...,1.963328,0,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21712,991105MH,501,501,501,P-experiment,0,Zurich,9,12,20,...,1.963328,1,24.0,0.0,NaN,0,0.0,NaN,NaN,32.7
21713,991105MH,501,501,502,P-experiment,0,Zurich,9,20,12,...,1.963328,1,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21714,991105MH,501,501,503,P-experiment,0,Zurich,9,15,12,...,1.963328,0,23.0,0.0,NaN,0,1.0,NaN,NaN,32.7
21715,991105MH,501,501,504,P-experiment,0,Zurich,9,11,12,...,1.963328,0,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21736,991105MH,501,501,501,P-experiment,0,Zurich,10,15,0,...,1.963328,1,24.0,0.0,NaN,0,0.0,NaN,NaN,32.7
21737,991105MH,501,501,502,P-experiment,0,Zurich,10,0,15,...,1.963328,1,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7
21738,991105MH,501,501,503,P-experiment,0,Zurich,10,15,15,...,1.963328,0,23.0,0.0,NaN,0,1.0,NaN,NaN,32.7
21739,991105MH,501,501,504,P-experiment,0,Zurich,10,20,15,...,1.963328,0,20.0,0.0,NaN,1,0.0,NaN,NaN,32.7

In [127]:
for g in range(ngroups):
    print(g)
    c_no_punish[:,:,g][0] = redDat[(redDat["groupid"] == group_names[g]) & (redDat["p"] == "N-experiment")]["senderscontribution"][0:10].values
    c_no_punish[:,:,g][1] = redDat[(redDat["groupid"] == group_names[g]) & (redDat["p"] == "N-experiment")]["senderscontribution"][10:20].values
    c_no_punish[:,:,g][2] = redDat[(redDat["groupid"] == group_names[g]) & (redDat["p"] == "N-experiment")]["senderscontribution"][20:30].values
    c_no_punish[:,:,g][3] = redDat[(redDat["groupid"] == group_names[g]) & (redDat["p"] == "N-experiment")]["senderscontribution"][30:40].values
    
    
    #Ga_no_punish

0
1
2
3
4
5
6
7
8
9
10
11
12

ValueError: could not broadcast input array from shape (0) into shape (10)

### Prelim check

First we need to add all contributions in a group and multiply them by 1.4 and calculate the Pearson correlation between Gini coefficients and the earnings.

### Heat map

Lower Quartile (Gini < 31.6)
Upper Quartile (Gini > 37.5)

## Decay model

$$c_{g,s,t}^\mu = c^0_{g,s} \cdot e^{-\gamma_{s,g} \cdot t}$$

$$c^0_{g,s} = \beta^c_0 + \beta^c_{Gini} \cdot Gini_g$$

$$\gamma_{s,g} = \beta^\gamma_0 + \beta^\gamma_{Gini} \cdot Gini_g$$

In [ ]:
## make Gini vector
## make idx_g (index vector on groups)

In [ ]:
with pm.Model() as m:
    ## priors
    beta0_c0 = pm.Normal("beta0_c0", 0, 1)
    betaGini_c0 = pm.Normal("betaGini_c0", 0, 1)
    
    beta0_gamma = pm.Normal("beta0_gamma", 0, 1)
    betaGini_gamma = pm.Normal("betaGini_gamma", 0, 1)
    
    ## group_level
    sigma_c = pm.Gamma(1,1, shape = (ngroups, groupSize))
    
    c_0 = pm.math(beta0_c0 + betaGini_c0 * Gini[idx_g], shape = (ngroups, groupSize))
    
    gamma = beta_0

### Preferences:

$$pvec = p_0 + \beta_p \cdot tokenvalues $$

$$p_t = pvec[Gb_t]$$

where Gb_t is the belief of what the other person will do at time T

$$Gb_t = \gamma ( Gb_{t-1}) + (1-\gamma) (G_{a_{t-1}})$$

$$c_t = \omega_t (Gb_t) + (1-\omega_t) (p_t)$$

$$\omega_t = \omega_{t-1}(1-\lambda)$$

### Getting the hierachical model

$$B^P_{g,s} \sim Beta(Shape_{g,s,1}, Shape_{g,s,2})$$

$$Shape_1 = \mu B^P_{g,s} + \sigma_{g,s}$$
$$Shape_2 = (1 - \mu B^P_{g,s}) + \sigma_{g,s}$$

$$Probit(\mu B^P_{g,s}) = \beta_0^P + \beta^P_{Gini} \cdot Gini$$